.produce {
  text-align: ;
  background-color: rgba(206, 105, 177, 0.437);
}
.meat {
  background-color: rgba(206, 105, 177, 0.437);
}
.ingredients {
  background-color: rgba(206, 105, 177, 0.437);
}
.householdSupplies {
  background-color: rgba(206, 105, 177, 0.437);
}

h3 {
  background-color: orange;
}
h1 {
  background-color: blanchedalmond;
}
h2 {
  background-color: blueviolet;
}
body {
  background-color: aquamarine;
}
