.produce {
  margin: 20px;
  text-align: ;
  background-color: rgba(206, 105, 177, 0.437);
}
.meat {
  margin: 20px;
  background-color: rgba(206, 105, 177, 0.437);
}
.ingredients {
  margin: 20px;
  background-color: rgba(206, 105, 177, 0.437);
}
.householdSupplies {
  margin: 20px;
  background-color: rgba(206, 105, 177, 0.437);
}

h3 {
  background-color: orange;
}
h1 {
  background-color: blanchedalmond;
}
h2 {
  background-color: blueviolet;
}
